<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="https://schemas.android.com/apk/res/android"
    package="com.example.hp.budgetplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/budgetplannericon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ImageSlider"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginMainActivity" />
        <activity android:name=".RegisterMainActivity" />
        <activity android:name=".SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Checkfragment" >

        </activity>
        <activity android:name=".CheckRegisterLayout"></activity>
        <activity
            android:name=".LoggedInMainActivity"
            android:label="@string/title_activity_logged_in_main"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
    </application>

</manifest>
